<h1>Shopping List</h1>

<div *ngIf="cartItemsArray">

  <div id="containContainerProduct" class="card ms-3 mt-3">
      <div *ngFor="let item of cartProducts; let i = index">

          <div id="containCartProduct" class="card bg-opacity-75 bg-black mt-1">

            <div id="infoProductCart" class="card w-50 mt-5 ms-5">
              <p class="shadow mt-3 w-75 m-auto rounded-5 text-center">name :{{ item.name }}</p>
              <p class="shadow w-75 m-auto">Price :{{ this.cartItemModel.itemPrice }}</p>
              <p class="shadow w-75 m-auto">Quantity :{{ cartItemsArray[i].quantity }}</p>
          </div>
          
          <div class="card w-25 mt-5 ms-5">
            Total :{{ cartItemModel.totalPrice }}
          </div>
          
          <div id="imgCart" class="card me-3 align-self-end">
            <a routerLink="/product/product-details-for-user/{{ item.id }}">
              <img src="{{item.imagePath}}" alt="{{ item.name }}" width="280px">
            </a>
          </div>
          
          
          <div class="row w-50 align-self-start mt-3 mb-3">
            <button class="btn btn-primary col-5 m-auto" id="btn" (click)="addQuantity()">Add</button>
            <button class="btn btn-primary col-5 m-auto" id="btn" (click)="removeQuantity()">Remove</button>
          </div>
        </div>
            
        </div>

</div>

<div *ngIf="!cartItemsArray">
  <p>Your shopping cart is empty.</p>
</div>

<!-- Section pour afficher les informations du produit
<div *ngIf="model.id">
  <h2>Product Details</h2>
  <p>Name: {{ model.name }}</p>
  <p>Price: {{ model.price }}</p>
  <p>Category: {{ model.categoryName }}</p>
  <p>Description: {{ model.description }}</p>
  <img [src]="model.imagePath" alt="Product Image" width="200">
</div> -->
