h1{
  text-align: center;
}
 
table{
  margin: 5rem auto 0 3rem;
  border: 3px solid black;
  text-align: center;
}
th{
  width: 7rem;
  border: 4px solid black;
}
tr{
  width: 7rem;
  border: 3px solid black;
  text-align: center;
}
td{
  border: 3px solid black;
}
  
button{
  margin: 0.2rem 1rem;
 width: 5rem;
 height: 2.2rem;
  }