<div class="row card mt-3 m-auto w-50 bg-body-secondary" *ngIf="modelProduct && model">

    <div class="card col-11 m-auto mt-4 mb-4">

    <div class="card col-10 mt-5 m-auto text-center">
        {{modelProduct.categoryName}}
        {{modelProduct.name}}
    </div>

    <div id="pictureProduct" class="col-10 m-auto border-2">
        <img [src]="modelProduct.imagePath" alt="image Product" width="400" class="product-img m-auto">
    </div>
    
    <div class="col-9 card mt-5 m-auto text-center">
        {{modelProduct.description}}
    </div>
    
    <div class="row col-10 m-auto">
        
        <div class="col-8 card me-3 mt-3 ms-3 text-center">
            <p *ngFor="let item of model">
                {{item}}
            </p>
        </div>
        
        <div class="card mt-3 col-3 text-center">
            {{modelProduct.price}}
        </div>

    </div>
        
        
    <div class="row col-5 m-auto mb-3">

        <div class=" col-6 mt-3 mb-3 " *ngIf="isAdmin === 'admin'">
            <button class="btn btn-light m-auto" id="btn" [routerLink]="['/product/product-edit', modelProduct.id]">
                Edit
            </button>
        </div>
        
        <div class="col-6 mt-3 mb-3">
            <button class="btn btn-light m-auto" id="btn" (click)="addCart()">
                Add Cart
            </button>
        </div>
        
    </div>
</div>

</div>




