
<div class="card col-8 h-75 mt-5 m-auto " id="connectionContainer">

        <div  class="col-3  m-auto ">
            <label>E-mail:</label>
            <br>
            <input type="text" class="text-white"  [(ngModel)]="model.email">
        </div>

        <div class="col-3  m-auto">
            <label>Password</label>
            <br>
            <input type="password" class="text-white" [(ngModel)]="model.password">
        </div>            
        <div class="row justify-content-evenly">
            <button class="btn btn-dark mt-3 col-5" (click)="login()">Connection</button>
            <button id="btnNewAccount" class="btn btn-dark mt-3 col-5" (click)="newAccount()">New Account</button>
        </div>

</div>
