
<div class=" container" id="connectionContainer">

        <div  class="containerInputEmail">
            <label>E-mail:</label>
            <br>
            <input type="text"  [(ngModel)]="model.email">
        </div>

        <div>
            <p>
                        
            </p>            
            <p>
                      
            </p>
        </div>

        <div class="containerInputPassword">
            <label>Password</label>
            <br>
            <input type="password" [(ngModel)]="model.password">
        </div>            

            <button class="btn btn-dark" (click)="login()">Connection</button>
            <br>
            <button id="btnNewAccount" class="btn btn-dark" (click)="newAccount()">New Account</button>

</div>
