/* *{
    border: 2px solid red;
} */

.container{
    color: white;
    border: 5px solid rgba(0, 0, 0, 0.518);
    width: 30rem;
    height: 4rem;
    background-color: rgb(77, 77, 77);
    font-size: 80%;
    display: flex;
    flex: wrap;
}

#containerInputEmail{
    text-align: center;
    width: 10rem;
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0 0 0;
    border: 2px solid red;
}

#containerInputPassword{
    text-align: center;
    width: 10rem;
    height: 3rem;
    display: flex;


}
button{
    margin: 0.7rem 0.5rem auto auto;
    font-size: 0.7rem;
    height: 1.9rem;
    padding: 5px 5px 10px 5px;
    
}

#btnNewAccount{
    width: auto;
}

input{
    background-color: rgba(37, 40, 41, 0.767);
    color: rgb(255, 255, 255);
    width: 8rem;
    height: 25px;
    size: 3rem;
}