<h1>Order</h1>

<div id="add">
  <button id="add" [routerLink]="['/order/order-add']" class="btn btn-primary">Add Order</button>
</div>

<ng-container *ngIf="orderList$ | async as orders">
  <div class="container-product">
    <table>
      <thead>
        <tr>
          <th>
            Id
          </th>
          <th>
            UserId
          </th>
          <th>
            Order Date
          </th>
          <th>
            Order Status
          </th>
          <th>
            TotalPrice
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let order of orders">
          <td>
            {{ order.id }}
          </td>
          <td>
            {{ order.userId }}
          </td>
          <td>
            {{ order.orderDate }}
          </td>
          <td>
            {{ order.status }}
          </td>
          <td>
            {{ order.totalPrice }}
          </td>
          <td>
            <button class="btn btn-primary" id="btnEdit" [routerLink]="['/order/order-update/', order.id]">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
