<h1>Product</h1>

    <div id="itemContainer" *ngIf="products | async as products" >
        <div class="glass w-75 h-75 m-auto " *ngFor="let product of products">

            

                <div class="w-75 m-auto p-3">
                    <p class="">
                        {{product.name}}
                    </p>
                    
                    <p>
                        {{product.description}}
                    </p>
                
                    <div class="w-25 justify-content-start">
                        {{product.price}}€
                    </div>

                    <div class="w-75 justify-content-end p-2">
                        <button class="btn btn-primary p-2 m-2" id="btn" (click)="addToCart(product)">Add Cart</button>

                        <button class="btn btn-primary p-2 m-2" id="btn" [routerLink]="['/product/product-details/'+ product.id]">show</button>
                    </div>

                <div id="imageProduct">
                    <img [src]="product.imagePath" alt="" width="200px" class="{{product.name}}">
                </div>


            </div>
        </div>
        
    </div>
 