<table>
    <thead>
        <th>Id</th>
        <th>UserId</th>
        <th>Order Date</th>
        <th>Status</th>
        <th>Total Price</th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td>
                Id: {{model.id}}
            </td>
            <td>
                Category: {{model.userId}}
            </td>
            <td>
                Name: {{model.orderDate}}
            </td>
            <td>
                Description: {{model.status}}
            </td>
            <td>
                Price: {{model.totalPrice}}
            </td>

            <td>
                <button class="btn btn-light" id="btn" [routerLink]="['/product/product-edit', model.id]">Edit</button>
                <button class="btn btn-light" id="btn" [routerLink]="['/product/product-edit', model.id]">Add Cart</button>
            </td>
        </tr>
    </tbody>
    
    
    
    
</table>

