<h1>Category</h1>

<div id="add">
  <button id="btnAdd" [routerLink]="['/categories/categories-add']" class="btn btn-primary">Add Category</button>
</div>

<table *ngIf="categories$ | async as categories">
  <thead>

    <th>
      ID
    </th>

    <th>
      Name
    </th>

  </thead>
  <tbody *ngFor="let category of categories">
    <tr>

      <td>

        {{category.id}}

      </td>

      <td>

        {{category.name}}

      </td>

      <td>

        <button id="editButton" class="btn btn-primary" [routerLink]="['/categories/categories-edit', category.id]">Edit</button>

      </td>
        
    </tr>
  </tbody>
</table>
    