
    <table [(ngModel)]="model" class="container" class="table table-hover">
        <tr>
            <th>Id:</th>
            <td> {{model.id}}</td>
        </tr>
        <tr>
            <th>LastName: </th>
            <td> {{model.lastName}} </td>
        </tr>
        <tr>
            <th>FirstName:</th>
            <td>{{model.firstName}} </td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{model.email}} </td>
        </tr>
        <tr>
            <th>Password: </th>
            <td> {{model.password}} </td>
        </tr>
        <tr>
            <th> Status: </th>
            <td>{{model.status}} </td>
        </tr>
        <tr>
            <th> Adresse: </th>
            <td> {{model.address}}</td>
        </tr>
        
        <tr>
            <th>
                <a class="btn btn-primary" id="btn" [routerLink]="['/user/user-update', model.id]">Edit</a>
            </th>
        </tr>
    </table>
