<div id="body">

  <h1>Welcome On E-Shop</h1>
  
<div id="header">
  <p>
    Explorez notre collection unique d'objets électroniques, vêtements tendance, accessoires incontournables et bien plus encore. Découvrez le plaisir de trouver les dernières tendances à portée de clic.
  </p>
</div>

  
<div id="carousel">

  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets\images\electronics.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\images\bag.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\images\blazer.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- <div id="carouselExampleAutoplaying" class="carousel slide">
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets\images\electronics.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets\images\bag.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets\images\bag.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

</div>


  <div id="imgCategories">
    <div id="imgCategoriesCentrerZone">

      
      <a routerLink="#"> 
        <li class="imgCategoryPictures">
          <p class="categoryName">Soldes</p>
          <img class="imgCategorieslink" src="assets\images\soldes.jpg" alt="img" width="300rem" height="200">
        </li>
      </a>

    <a routerLink="/product/product-byCategory/electronics">
      <li class="imgCategoryPictures">
       <p class="categoryName">Electronics</p>
        <img class="imgCategorieslink" src="assets\images\electronics.jpg" alt="img" width="300rem" height="200">
      </li>
    </a>

    <a routerLink="/product/product-byCategory/bag">
    <li class="imgCategoryPictures">
      <p class="categoryName">Bag</p>
        <img class="imgCategorieslink" src="assets\images\bag.jpg" alt="img" width="300rem" height="200">
      </li>
    </a>

    <a routerLink="/product/product-byCategory/blazer">
    <li class="imgCategoryPictures">
       <p class="categoryName">Blazer</p>
        <img class="imgCategorieslink" src="assets\images\blazer.png" alt="img" width="300rem" height="200">
      </li>
    </a>

    <a routerLink="/product/product-byCategory/accessories">
    <li class="imgCategoryPictures">
      <p class="categoryName">Accesories</p>
        <img class="imgCategorieslink" src="assets\images\accessories.jpg" alt="img" width="300rem" height="200">
      </li>
    </a>

    <a routerLink="/product/product-byCategory/shoes">
    <li class="imgCategoryPictures">
       <p class="categoryName">Shoes</p>
        <img class="imgCategorieslink" src="assets\images\BasketOFBasket.jpg" alt="img" width="300rem" height="200">
      </li>
    </a>

    <a routerLink="/product/product-byCategory/clothing">
    <li class="imgCategoryPictures">
       <p class="categoryName">Clothing</p>
        <img class="imgCategorieslink" src="assets\images\Clothes.jpg" alt="img" width="300rem" height="200">
      </li>
    </a>

    <a routerLink="/product/product-byCategory/jacket">
      <li class="imgCategoryPictures">
      <p class="categoryName">Jacket</p>
        <img class="imgCategorieslink" src="assets\images\Jacket.jpg" alt="img" width="300rem" height="200">
      </li>
    </a>

    <a routerLink="/product/product-byCategory/book">
    <li class="imgCategoryPictures">
      <p class="categoryName">Books</p>
        <img class="imgCategorieslink" src="assets\images\Book.jpg" alt="img" width="300rem" height="200">
      </li>
    </a>

    </div>
  </div>

  