/* *{
    border: red 5px solid;
} */

a{
    padding: 1rem;
}

h1{
    text-align: center;
    width: 20rem;
    margin: 2rem auto;
    font-weight: 550;
}


#header{
    width: 40rem;
    margin: 5rem auto;
    display: block;
}


#carousel{
    margin: 5rem auto 0 auto;
    width: 30rem;
    height: 20.2rem;

}

#imgCategories{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 2rem 10rem 0 10rem;
}

#imgCategoryPictures{
    margin: 4rem 0.5rem 1rem 0.5rem;
    width: 10rem;
    display: wrap;
    flex-wrap: wrap;
}

li{
    width: 20rem;
    margin: auto;
}

#imgCategorieslink{
    border: 5px solid red;
    padding: 5px;
    margin: auto;
}

.categoryName{
    text-align: center;
    width : 50%;
    margin:  0 auto;


}


