#body{
    width: 80%;
    margin: 3rem;
}

h1{
    width: 17rem;
    margin: 3rem auto 1rem auto;
    text-align: center;
    }
    
    #add{
      margin: 0 auto 1rem auto;
      width: 12rem;
      height: 3rem;
    }

.container-product{
    border: 5px solid black;
    width: 30rem;
}
.product-details{
    margin-left: 2rem;
    margin-top: 1rem;
}

.divBtn{
    margin: 0 0 1rem 2rem;
}

a{
    margin: auto;
}

table{
    margin: 5rem auto;
    border: 3px solid black;
    background-color: white;
    width: 70rem;
  }
  th{
    width: auto;
    border: 4px solid black;
    text-align: center;
  }
  tr{
    border: 3px solid black;
    text-align: center;
  }
  td{
    border: 3px solid black;
  }