
<div class="col bg-dark text-center" id="navbar" data-bs-theme="dark">
  
  <div class="container s4" id="logoUser">
      <a class="logo" href="user/user-details/{id}">
        <img src="assets/images/man.png" alt="Mon Logo" width="50" height="50">
      </a>
      
      <a class="logo" href="/cart/cart-list">
        <img src="assets/images/cart.png" alt="Mon Logo" width="50">
      </a>
      
      <a class="logo" href="#">
        <img src="assets/images/options.png" alt="Mon Logo" width="50">
      </a>
  </div>

<div *ngIf="true">
  <div class="container s4" id="loginUser">
    <app-login-user></app-login-user>
  </div>
</div>
  <div class="container s4" id="title">
    <h3 class="text-body-emphasis text-center">E-Shop2023</h3>
    <h5 class="text-body-emphasis text-center">Le Shop online de 2024</h5>
  </div>

  <div  id="link">

        <a class="nav-link" href="#">
          Home
        </a>

        <a  class="nav-link" href="/product/products">
          Products
        </a>

        <a class="nav-link" href="/categories/categories">
          Categories
        </a>

        <a class="nav-link" href="/order/order-list">
          Order List
        </a>

        <a class="nav-link" href="/product-review/product-review-list">
          Review List
        </a>

        <a class="nav-link" href="/user/user-list">
          User List
        </a>

        <a class="nav-link" href="#">
          autre
        </a>

        <a class="nav-link" href="#">
          autre
        </a>

  </div>

  </div>
  
