
<div class="col bg-dark text-center" id="navbar" data-bs-theme="dark">
  <div *ngIf="isConnected" class="container s4" id="logoUser">


    <i class="bi bi-star-fill"></i>

    <a class="logo" [routerLink]="['user/user-details/'+ userIdStringNavbar]">
      <img id="img" src="assets/images/6065566.png" alt="Mon Logo" width="50" height="50">
    </a>
    
    <a class="logo" href="/cart/cart-list">
      <img id="img" src="assets/images/2067434.png" alt="Mon Logo" width="50">
    </a>
    
    <a class="logo" href="/user-interface/user-menu">
      <img id="img" src="assets/images/7184305.png" alt="Mon Logo" width="50">
    </a>

    <a class="logo" href="#">
      <img id="img" src="assets/images/logout.png" (click)="logout()" alt="Mon Logo" width="50">
    </a>

  </div>

  
    <div *ngIf="!isConnected" class="container s4" id="loginUser">
      
      <app-login-user></app-login-user>
      
    </div>
  
  <div class="container s4" id="title">

    <h3 class="text-body-emphasis text-center">E-Shop2023</h3>
    <h5 class="text-body-emphasis text-center">Le Shop online de 2024</h5>
    
  </div>
  
  <div  id="link">
    
   
      <a id="btnMenu" class="nav-link dropdown-toggle bg-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
      </a>

    
    <li class="nav-item dropdown bg-black">
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="#">
            Home
          </a>
        </li>
        <li>
          <a  class="dropdown-item" href="/user-interface/user-view">
            Search
          </a>
        </li>
        
        <li>
          <a  class="dropdown-item" href="/product/product-user-view">
            All Product
          </a>
        </li>
        <!-- <ng-container> *ngIf="isAdmin" -->
          <li>
            <a class="dropdown-item" href="/categories/categories">
              Categories
            </a>
          </li>
          
      <li>
        <a class="dropdown-item" href="/product/products">
          Products
        </a>
      </li>

      <li>
        <a class="dropdown-item" href="/order/order-list">
          Order List
        </a>
      </li>
    
      <li>
        <a class="dropdown-item" href="/product-review/product-review-list">
          Review List
        </a>
      </li>
    
      <li>
        <a class="dropdown-item" href="/user/user-list">
          User List
        </a>
      </li>
    
      <li>
        <a class="dropdown-item" href="/favorite-item/favorite-item">
          Favorite Item
        </a>
      </li>
    
      <li>
        <a class="dropdown-item" href="/payment/payment">
          Payment 
        </a>
      </li>
      
      <li>
        <a class="dropdown-item" href="/delivery/delivery">
          Delivery
        </a>
      </li>
      
    <!-- </ng-container> -->
      
    </ul>
  </li>
  
  </div>

</div>

<div class="background-container"></div>