#navbar{
    height: 10rem;
    width: 100%;
    position: sticky;
}

/* .background-container {
    background: url('./src/app/component/navbar/images/noel.png') fixed no-repeat top right;
}

.noel-bg {
    background: url('./src/app/component/navbar/images/noel.png') fixed no-repeat top right;
} */


#logoUser {
    display: flex;
    flex-direction: row;
    margin: 2.5rem 5rem auto auto;
    width: 20%;
    height: 5rem;
    float: right;
    position: relative;
}

.logo {
    margin: 1rem 1rem;
}

#img{
    width: 3rem;
    height: 3rem;
    position: relative;
}

#loginUser{
    float: right;
    margin: 0.5rem 3rem auto auto;
    height: auto;
    width: 17rem;
    position: relative;
}

#logout{
    color:black;
    margin: 1.4rem auto 0 auto;

}

#title {
    width: 30%;
    margin: 3rem auto 2rem auto;


}

h3{
    padding-top: 1.5rem;
    width: auto;
    margin: 0rem auto 0 auto;
    height: 5rem;
}

h5{
    width: auto;
    margin: 1rem auto 0 auto;
    height: 5rem;
}

#link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35rem;
    margin: -6rem auto 0 3rem;


}

a{
    color: white;
}

.nav-link {
    background-color: white;
    text-align: center;
    width: 6rem;
    height: 2rem;
    margin: -3.5rem 0.5rem;
    text-decoration: none;
    list-style: none;
    border-radius: 10%;
    border: 2px solid black;

}

li{
    list-style: none;
}
