
<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  
  <div class="bg-dark p-4 text-center">
    <h5 class="text-body-emphasis h4">E-Shop2023</h5>
    <span class="text-body-secondary">Le Shop online de 2023</span>
  </div>

  <ul class="navbar-nav ml-auto">

    <li class="nav-item">
      <a id="products-link" class="nav-link" href="#">
        Home
      </a>
    </li>

    <li class="nav-item">
      <a id="products-link" class="nav-link" href="/product/products">
        Products
      </a>
    </li>
    
    <li class="nav-item">
      <a id="categories-link" class="nav-link" href="/categories/categories">
        Categories
      </a>
    </li>

    <li class="nav-item">
      <a id="categories-link" class="nav-link" href="/order/order-list">
        Order List
      </a>
    </li>

    <li class="nav-item">
      <a id="categories-link" class="nav-link" href="/product-review/product-review-list">
        Review List
      </a>
    </li>

    <li class="nav-item">
      <a id="categories-link" class="nav-link" href="/user/user-list">
        User List
      </a>
    </li>
    

  </ul>
</div>

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button id="navbar-toggler-button" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon nav-item"></span>
      </button>
      
    </div>
  </nav>
  <div class="container"id="listRight" >
    <nav>
      <div class="container">
  
        <a  href="/user/user-details/:id">
          <img src="assets/images/man.png" alt="Mon Logo" width="50" height="50">
        </a>
        
        <a  href="/cart/cart-list">
          <img src="assets/images/cart.png" alt="Mon Logo" width="50">
        </a>
        
        <a  href="#">
          <img src="assets/images/options.png" alt="Mon Logo" width="50">
        </a>
  
      </div>
    </nav>
  </div>
  
