/* 
#navbar{
    height: 12rem;
    width: 100%;
    position: sticky;
}

 .background-container {
    background: url('./src/app/component/navbar/images/noel.png') fixed no-repeat top right;
}

.noel-bg {
    background: url('./src/app/component/navbar/images/noel.png') fixed no-repeat top right;
} 



#logoUser {
    display: flex;
    flex-direction: row;
    margin: 2rem 1rem auto auto;
    width: 28%;
    height: 5rem;
    float: right;
    position: relative;
}

.logo {
    margin: 2rem -1rem auto auto;
}

#img{
    width: 3rem;
    height: 3rem;
    position: relative;
}

#loginUser{
    float: right;
    margin: 0.5rem 1.2rem 0 auto;
    height: 5.8rem;
    width: 30rem;
}

#logout{
    color:black;
    margin: 1.4rem auto 0 auto;
}

#title {
    width: auto;
    max-width: 50%;
    min-width: 30%;
    margin: 3rem auto 2rem 19rem;
}

h3{
    padding-top: 3rem;
    width: 100%;
    margin: 1rem auto 0 auto;
    height: 3rem;
}

h5{
    padding-top: 3rem;
    width: auto;
    margin: 1.5rem auto 0 auto;
    height: 2rem;
}


#link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    width: 15rem;
    height: 3rem;
    margin: -8rem auto 0 0.5rem;


}

a{
    color: white;
}

.nav-link {
    background-color: white;
    text-align: center;
    width: 6rem;
    height: 2rem;
    margin: -3.5rem 0.5rem;
    text-decoration: none;
    list-style: none;
    border-radius: 10%;
    border: 2px solid black;
}

#btnMenu{
    width: 13rem;
    height: 2.5rem;
    border: 5px solid black;
    margin: 3rem auto 0 auto;
}

li{
    list-style: none;
}

*/
