<div class="w-25 m-auto text-center bg-white bg-opacity-75 rounded-2">
    <h1 class="p-3">
        Looking for something? 
        <br>
        Find it here in a snap!
    </h1>
</div>
        
        <div class="w-25 m-auto mt-5">
            <input class="text-white text-center ms-auto w-75" id="input" type="text"  [(ngModel)]="search" (keydown.enter)="searchProduct(search)" />
            <button type="submit" class="btn btn-primary w-25" (click)="searchProduct(search)">Go</button>
        </div>
        
        <div class="w-25  p-3 ml-3 text-center bg-white bg-opacity-75 rounded-2">

                <div class="container">
                    <form (ngSubmit)="onSubmit()" #Form="ngForm">
                      <div class="form-row">

                        <div class="form-group col">

                          <label for="category">Catégories</label>
                          
                          <select  class="form-control" name="category" [(ngModel)]="category">
                            <option value="" selected>all catégories</option>
                            <option *ngFor="let category of (categories | async)" [value]="category.name">{{category.name}}</option>
                          </select>

                        </div>

                        <div id="inputForm" class="form-group col">
                          <label for="price">Prix max</label>
                          <input  type="number" class="form-control" id="maxPrice" name="maxPrice" [(ngModel)]="maxPrice" min="0">
                        </div>

                        <div id="inputForm" class="form-group col">
                            <label for="price">Prix min</label>
                            <input  type="number" class="form-control" id="minPrice" name="minPrice" [(ngModel)]="minPrice" min="0">
                          </div>

                        <div id="inputForm" class="form-group col">
                          <label for="rating">Etoile</label>
                          <input  type="number" class="form-control" id="rating" name="rating" [(ngModel)]="minRating" min="0" max="5" step="1">
                        </div>

                      </div>
                      <button id="btnOptions" (click)="onSubmit()" class="btn btn-primary">Go</button>
                    </form>
                  
            </div>



            <div>
                <ng-container *ngIf="searchProducts$ | async as products" >   
                    <div id="searchZone">

                        <div id="itemContainer" >
                            <div id="itemList"  *ngFor="let product of products">
                    
                                
                    
                                    <div id="textProduct">
                                        <div id="paragraphProduct">
                                        <div id="productTitle">
                                            {{product.name}}
                                        </div>
                                        <br>
                                        <div id="productDescription">
                                            {{product.description}}
                                        </div>
                                        
                                    </div>
                                        <div id="productPrice">
                                            {{product.price}}€
                                        </div>
                    
                                        <div id="buttonProduct">
                                            <button class="btn btn-primary" (click)="addCart(product.id, product.price)" id="btn">Add Cart</button>
                                            <button class="btn btn-primary" id="btn" [routerLink]="['/product/product-details/'+ product.id]">show</button>
                                        </div>
                    
                                    <div id="imageProduct">
                                        <img [src]="product.imagePath" alt="" width="150px" class="{{product.name}}">
                                    </div>
                    
                    
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </ng-container>
            </div>



        <div id="containerRight">
            <app-lateral-image></app-lateral-image>
        </div>