/* You can add global styles to this file, and also import other style files */
body {
    background: url("src\app\pages\home\homepage\images\noel.png")fixed no-repeat top right;
    width: auto;
    height: auto;
    background-color: #f1eded;
    object-fit: cover;
    margin-top: -3rem;
}


img{
    margin: 0 0 auto auto;
}

/* Footer */
.footer__links{ 
    width: 80rem;
    margin: 30rem auto -5rem auto;
    display: flex;
    flex-direction: row;
    height: 22rem;
    font-size: smaller;
    
}
   
.footer__links-box{
    width: 85rem;
    margin: 1rem auto 0 auto;
    height: 15rem;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.563);
    
}

.footer__links-list{
    list-style: none;
    margin: 1rem auto 0 auto;
    width: 20rem;
    border-radius: 15%;

}

.listeStyleNone{
    list-style: none;
    text-align: left;
}

.footer__links-list-header{
    text-align: center;
}

.secure{
    margin: 0 auto;
    width: 10rem;
}

.footer__legal{
    background-color: white;
    text-align: center;
}