
<h1>Details du produit</h1>

<table>
    <thead>
        <th>Category</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Review</th>
        <th>Pictures</th>
    </thead>
    <tbody *ngIf="modelProduct && model">
        <tr>
            <td>
            {{modelProduct.categoryName}}
            </td>
            <td>
                {{modelProduct.name}}
            </td>
            <td>
                {{modelProduct.description}}
            </td>
            <td>
                {{modelProduct.price}}
            </td>            
            <td>
                <p *ngFor="let item of model">
                {{item}}
                </p>
            </td>
            <td>
                <img [src]="modelProduct.imagePath" alt="image Product" width="200px" class="product-img">
            </td>
            <td>
                <ng-container *ngIf="isAdmin">
                    <button class="btn btn-light" id="btn" [routerLink]="['/product/product-edit', modelProduct.id]">Edit</button>
                  </ng-container>
                  
                <button class="btn btn-light" id="btn" [routerLink]="['/product/product-edit', modelProduct.id]">Add Cart</button>
            </td>
        </tr>
    </tbody>
    
    
    
    
</table>



